[Unit]
Description=mapsforgesrv (RudyMap tile renderer)
After=network.target

[Service]
Type=simple
User=aj
WorkingDirectory=/opt/tracker/tileserver
ExecStart=/usr/bin/java -jar bin/mapsforgesrv-fatjar.jar -c config
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
